[user]
	name = Zachariah Frank
	email = zachariah.frank@dkfz-heidelberg.de
[init]
	defaultBranch = main
[core]
  editor = vim
  excludesfile = ~/.gitignore
[url "https://github.com/"]
    insteadOf = git@github.com:
